<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="ja">
	
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>購入可能です</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	</head>



<body> 



<div　 method="post" th:action="@{/calculation}">

	<h1>あなたは<span th:text="${car_name}"></span>を購入することができます！</h1><br>


	<h3></h3><p>あなたの月々の車に使えるお金</p></h3>
	<span th:text ="${budget}"></span>万円

	


	<h3><p><span th:text="${car_name}"></span>を維持するのに必要な月々な支出</p></h3>
	<p><span th:text ="${totalcost}"></span>万円</p>




	<h2>月間維持費内訳</h2>
	
	<h3>税金・車検用積み立て</h3>
	<table class="table table-striped">
		<tr><th>項目</th><th>費用</th></tr>
		<tr><td>自動車税</td><td><span th:text="${car_t}"></span>万円</td></tr>
		<tr><td>ローン支払い</td><td><span th:text ="${loan_e}"></span>万円</td></tr>
	</table>
	
	
<input type="hidden" name="car_id" th:value="${car_id}"/> 
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>