<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 計算用 -->
<title>購入できません！</title>
<link rel="stylesheet" type="text/css" href="Main.css" />  
<div　 method="post" th:action="@{/calculation}">



<h1>あなたは<span th:text="${car_name}"></span>を購入することができません！</h1><br>


	<h3></h3><p>あなたの月々の車に使えるお金</p></h3>
	<span th:text ="${budget}"></span>万円

	


	<h3><p><span th:text="${car_name}"></span>を維持するのに必要な月々な支出</p></h3>
	<p><span th:text ="${totalcost}"></span>万円</p>




	<h3>月間維持費内訳</h3>
	<p>自動車税：<span th:text="${car_t}"></span>万円</p>
	<p>ローン支払い<span th:text ="${loan_e}"></span>万円</p>
	
	
	

</div>
</body>
</html>